name: CI - catalog-service

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          PYTHONPATH=. pytest -v

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 6. Login to PUBLIC ECR
      - name: Login to Amazon ECR Public
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      # 7. Build Docker image
      - name: Build Docker image
        run: |
          # PR-specific tag
          PR_TAG=pr-${{ github.event.pull_request.number }}
          IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:pr-$PR_TAG

          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          docker build -t $IMAGE_URI .

          # Also tag as latest
          docker tag $IMAGE_URI ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:latest

      # 8. Run tests inside Docker container
      - name: Run tests inside Docker
        run: docker run --rm -e PYTHONPATH=. $IMAGE_URI pytest -v

      # 9. Push Docker image to ECR
      - name: Push Docker image
        run: |
          docker push $IMAGE_URI
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:latest

  # deploy-to-ec2:
  #   runs-on: ubuntu-latest
  #   needs: docker-build-test-push-ecr
  #   if: github.ref == 'refs/heads/main' # deploy only on main branch
  #   steps:
  #     - name: Deploy to EC2
  #       uses: appleboy/ssh-action@v0.1.7
  #       with:
  #         host: ${{ secrets.EC2_HOST }}
  #         username: ec2-user
  #         key: ${{ secrets.EC2_SSH_KEY }}
  #         port: 22
  #         script: |
  #           cd /home/ubuntu/microservices

  #           # Pull latest image
  #           docker compose pull

  #           # Restart only the service we updated
  #           docker compose up -d --no-deps user-service

  #           # Optional: prune old images
  #           docker image prune -f
